/* Master Styles */
h1 {
    color: #369;
    font-family: 'Josefin Slab', serif !important;
    font-size: 250%;
}
h2, h3 {
    color: #444;
    font-family: 'Josefin Slab', serif !important;
    font-weight: lighter;
}
body {
    margin: 0px;
    color: #546E7A;
}
body, input[text], button {
    color: #888;
    font-family: 'Josefin Slab', serif !important;
}
/* . . . */
/* everywhere else */
* {
    font-family: 'Josefin Slab', serif !important;
}